/* Remove default margin and padding */
* {
    margin: 0;
    padding: 0;
    /*
        ! Outline for structuring the page
        ! Remove once finished designing
    */
    outline: 1px solid red;
}

body {
    /* Fill entire viewport height */
    min-height: 100svh;

    /* Flex container properties */
    display: flex;
}

body>div {
    /* Flex item properties */
    flex: 1 1 50%;

    /* Flex container properties */
    display: flex;
    flex-direction: column;
}

.body-right-section>div {
    flex: 1;
}


/* Right div of body, top section */
.body-right-section>div:nth-child(1) {
    /* Flex container properties */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5rem;

    padding: 4rem;
    font-size: 1.4rem;
}

.italic {
    font-style: italic;
}